{% extends "base.html" %}

{% block content %}
<div class="container mt-4">
    <h4 class="mb-3">✏️ Modifier le versement #{{ versement.id }}</h4>

    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}

        {{ form.as_p }}

        <button type="submit" class="btn btn-success">
            ✔️ Mettre à jour
        </button>
        <a href="{% url 'detail_versement' versement.id %}" class="btn btn-secondary">
            Retour
        </a>
    </form>
</div>
{% endblock %}
