<!-- direction/partials/kpis.html -->
<div class="stats stats-vertical lg:stats-horizontal shadow bg-base-100 w-full rounded-xl p-4">

    <div class="stat">
        <div class="stat-title">Chiffre d'affaires</div>
        <div class="stat-value text-primary">
            {{ kpis.chiffre_affaires|floatformat:0 }} FCFA
        </div>
        <div class="stat-desc">
            Total des ventes réalisées
        </div>
    </div>

    <div class="stat">
        <div class="stat-title">Marge brute</div>
        <div class="stat-value text-secondary">
            {{ kpis.marge_totale|floatformat:0 }} FCFA
        </div>
        <div class="stat-desc">
            Marge sur produits vendus uniquement
        </div>
    </div>

    <div class="stat">
        <div class="stat-title">Valeur du stock</div>
        <div class="stat-value text-accent">
            {{ kpis.valeur_stock|floatformat:0 }} FCFA
        </div>
        <div class="stat-desc">
            Stock restant valorisé
        </div>
    </div>

    <div class="stat">
        <div class="stat-title">Recouvrements</div>
        <div class="stat-value text-info">
            {{ kpis.recouvrements_totaux|floatformat:0 }} FCFA
        </div>
        <div class="stat-desc">
            Total recouvré
        </div>
    </div>

</div>