{% extends "base.html" %}

{% block title %}Affecter un lot{% endblock %}

{% block content %}
<div class="container py-3">

    <h5 class="mb-3">
        Affectation de lot (ROT)
    </h5>

    <form method="post" class="card card-body shadow-sm">
        {% csrf_token %}

        {% if form.non_field_errors %}
            <div class="alert alert-danger">
                {{ form.non_field_errors }}
            </div>
        {% endif %}

        <!-- LOT -->
        <div class="mb-3">
            <label class="form-label">Lot</label>
            {{ form.lot }}
            {{ form.lot.errors }}
        </div>

        <!-- SUPERVISEUR -->
        <div class="mb-3">
            <label class="form-label">Superviseur</label>
            {{ form.superviseur }}
            {{ form.superviseur.errors }}
        </div>

        <!-- DATE -->
        <div class="mb-3">
            <label class="form-label">Date de distribution</label>
            {{ form.date_affectation }}
            {{ form.date_affectation.errors }}
        </div>

        <!-- QUANTITÉ -->
        <div class="mb-3">
            <label class="form-label">Quantité (unités)</label>
            {{ form.quantite_saisie }}
            {{ form.quantite_saisie.errors }}
        </div>

        <!-- PRIX -->
        <div class="mb-3">
            <label class="form-label">Prix de gros</label>
            {{ form.prix_gros }}
            {{ form.prix_gros.errors }}
        </div>

        <div class="mb-4">
            <label class="form-label">Prix de détail</label>
            {{ form.prix_detail }}
            {{ form.prix_detail.errors }}
        </div>

        {{ form.quantite_initiale }}

        <button type="submit" class="btn btn-primary w-100">
            Valider l’affectation
        </button>
    </form>

</div>
{% endblock %}
